:root {
    --clr-primary: #5930ff;
    --clr-primary-hover: #29e6a7;
    --clr-primary-dark: #039d69;
    --clr-gray100: #f9fbff;
    --clr-gray150: #f4f6fb;
    --clr-gray200: #eef1f6;
    --clr-gray300: #e1e5ee;
    --clr-gray400: #767b91;
    --clr-gray500: #4f546c;
    --radius: 0.2rem;


    font-size: 75.5%;
    --header1: calc(0.1rem + 5vw);
    --header2: calc(1rem + 3vw);
    --header3: calc(0.7rem + 2vw);
    --header4: calc(0.7rem + 0.5vw);
    --height: calc(10vh + 44vw);
    --text: calc(0.3rem + 0.5vw);
    --big: calc(6rem + 1vw);
    --special-color: #906272;
    --background-color: #414141;
    --gray-text: #525252;
    scroll-behavior: smooth;
}
